reset-password{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-white);
    width: -webkit-fill-available; /* permite que se mantenga la anchura máxima (620px) */
    max-width: 620px;
    border-radius: 8px;
    padding: 16px 16px;
}

.back__button{
    display: flex;
    align-items: center;
}

.reset__content{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.reset__content h2{
    text-align: center;
}

.reset__info{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-blue);
}

.reset__container{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.reset__form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.reset__form input{
    padding: 8px 16px;
    background-color: var(--bg-input);
    border: 1px solid var(--border-input);
    border-radius: 0.25rem;
    font-weight: 700;
    font-size: 1.25rem;
}

.error__info{
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--color-red);
}

.reset__form input.invalid{
    border: 1px solid var(--color-red);
}

.reset__button{
    padding: 16px 20px;
    font-weight: 700;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.success__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon__successful{
    font-size: 50px;
    color: var(--color-blue);
}

@media screen and (min-width: 640px) {

    reset-password{
        padding: 44px 64px;
    }
}