@import url("./components/nav/nav.css");
@import url("./views/Main/Main.css");
@import url("./components/forms/forms.css");
@import url("./components/footer/footer.css");

:root{
    --color-gray: #737373;
    --color-white: #fff;
    --color-blue: #0071bb;
    --bg-blue: #112e51;
    --bg-blue-light: #ebf3fa;
    --bg-input: #f2f9ff;
    --border-input: #cedced;
    
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: currentColor;
}

input{
    padding: 0;
}

button{
    cursor: pointer;
    border: none;
}