


/* background: linear-gradient(-40deg,hsla(0,0%,100%,.3),hsla(0,0%,100%,.08) 30%,hsla(0,0%,100%,.08) 70%,hsla(0,0%,100%,.3));
border-radius: inherit;
content: "";
inset: 0;
-webkit-mask: linear-gradient(#fff,#fff) content-box,linear-gradient(#fff,#fff);
mask: linear-gradient(#fff,#fff) content-box,linear-gradient(#fff,#fff);
-webkit-mask-composite: xor;
mask-composite: exclude;
padding: 2px;
pointer-events: none;
position: absolute; */